.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  width: 85vw;
  max-width: 2000px;
  margin-top: 30px;
  border: 1px solid black;
  box-shadow: 0px 2px 10px rgb(72, 72, 72)
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}