.member-container {
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  margin-top: 5px;
}

.member-profile {
  height: 130px;
  width: 130px;
  border-radius: 100%;
  border: 2px solid var(--purple-light);
}

.member-name {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.2px;
  color: var(--purple-dark);
  margin: 0 auto;
  text-align: center;
}

.member-title {
  font-weight: 300;
  font-size: 17px;
  color: var(--purple-dark);
  font-style: italic;
}

.info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.info-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  margin: 0 3px;
}

.info-container button:hover {
  cursor: pointer;
}

.info-container button img {
  height: 30px;
  width: 30px;
}

.github-icon-image {
  max-height: 29px;
  max-width: 29px;
}

@media screen and (max-width: 768px) {
  .details-container {
    height: 75px;
  }

  .member-container {
    margin: -50px -30px;
    width: 40vw;
  }

  .member-profile {
    height: 80px;
    width: 80px;
  }

  .member-name {
    font-size: 14px;
  }

  .member-title {
    font-size: 13px;
  }

  .info-container button img {
    height: 25px;
    width: 25px;
  }

  .github-icon-image {
    max-height: 24px;
    max-width: 24px;
  }
}