.home-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.info-container {
  width: 80vw;
  max-width: 650px;
  margin-right: 150px;
}

.title {
  display: flex;
  flex-direction: column;
}

.title h1 {
  color: var(--purple-dark);
  font-weight: 500;
  font-size: 70px;
  margin-bottom: 10px;
}

.summary {
  font-weight: 300;
  font-size: 25px;
}

.war-logo {
  height: 500px;
  width: 460px;
}

@media screen and (max-width: 1200px) {
  .info-container {
    width: 53vw;
    margin-right: 2vw;
    margin-left: 10px;
  }

  .title h1 {
    font-size: 45px;
  }

  .summary {
    font-size: 18px;
    max-width: 550px;
  }

  .war-logo {
    height: 350px;
    width: 320px;
  }
}

@media screen and (max-width: 768px) {
  .home {
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    margin-top: 100px;
  }

  .info-container {
    margin: 0 auto;
    width: 100%;
  }

  .title h1 {
    font-size: 35px;
    margin-bottom: -1px;
  }

  .summary {
    margin-top: 10px;
    font-size: 15px;
  }

  .war-logo {
    height: 250px;
    width: 230px;
    margin-top: 20px;
  }
}