header {
  height: 90px;
  max-height: 100px;
  background-color: var(--purple-medium);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
  box-shadow: 0px 0px 5px var(--purple-dark);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.logo-button {
  background-color: transparent;
  border: none;
}

.logo-button:hover {
  cursor: pointer;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo-container .logo {
  width: 80px;
  height: 80px;
}

.logo-text-container {
  display: flex;
  flex-direction: column;
  color: var(--accent-color);
  font-size: 20px;
  font-weight: 400;
  margin-left: 10px;
}

.nav-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  header {
    justify-content: center;
  }

  .logo-container {
    position: fixed;
    left: 15px;
  }

  .logo-container .logo {
    width: 60px;
    height: 60px;
  }

  .logo-text-container {
    font-size: 13px;
    margin-left: 5px;
    width: 90px;
  }

  .nav-container {
    background-color: #a081ff;
    position: fixed;
    top: 90px;
    left: 0px;
    right: 0px;
    height: 0;
    transition: height 0.5s;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s ease-out;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    color: var(--accent-color);
    position: fixed;
    right: 7vw;
    transition: transform 0.3s ease;
  }

  .menu-open {
    height: 250px;
  }

  .menu-open .navbar {
    opacity: 1;
  }
}

@media screen and (max-width: 1200px) {
  header {
    padding: 0 5vw;
  }
}