.overview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.overview-container-2 {
  width: 80vw;
  max-width: 2000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.section-title-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc(100% + 25px);
}

.photo-text-container {
  justify-content: flex-end;
}

.video-text-container {
  justify-content: flex-start;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  width: 100vw;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.606);
  background-color: var(--purple-light);
  margin-bottom: 50px;
}

.horizontal-line {
  flex: 1;
  height: 1.5px;
  max-width: 80px;
  margin: 0 15px;
  background-color: var(--purple-dark);
}

.section-title-text {
  font-size: 35px;
  font-weight: 500;
  color: var(--purple-dark);
}

.video {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .photo-text-container {
    justify-content: center;
  }

  .video-text-container {
    justify-content: center;
  }

  .section-title-text {
    font-size: 25px;
  }
}