.overview-container {
  height: 100vh;
  width: 80vw;
  max-width: 2000px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-title-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc(100% + 15px);
}

.photo-text-container {
  justify-content: flex-start;
  margin-top: 1000px;
}

.video-text-container {
  justify-content: flex-end;
}

.carousel {}

.horizontal-line {
  flex: 1;
  height: 1.5px;
  max-width: 80px;
  margin: 0 15px;
  background-color: var(--purple-dark);
}

.section-title-text {
  font-size: 2rem;
  font-weight: 500;
  color: var(--purple-dark);
}

.video {
  width: 100%;
  margin-top: 30px;
}